#pip install SpeechRecognition
#pip install pyaudio
#pip install pyttsx3
#pip install wikipedia
#pip install chatterbot
#or
#pip install https://github.com/RaSan147/ChatterBot_update/archive/refs/heads/master.zip
#python -m spacy download en_core_web_sm
#pip3 install pyyaml
#pip install --upgrade PyYaml

#pip install chatterbot_corpus
#pip instal pygame
#pip install playsound
#pip install selenium==4.9.0
#dowload https://chromedriver.storage.googleapis.com/index.html?path=114.0.5735.90/
#have git installed
#git clone https://github.com/Michelangelo27/chatgpt_selenium_automation.git
#muta apoi folderul handler din chatgpt_selenium_automation
#rescrie chatgpt_selenium_automation
#pip install seleniumbase
#follow these steps: https://github.com/Simatwa/python-tgpt
#pip install python-tgpt
#pip install g4f==0.1.9.3
#install https://pimylifeup.com/raspberry-pi-vlc/
#pip3 install youtube-search-python
#pip install yt-dlp
